body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

:root {
    --clr-bg: hsl(185, 53%, 15%);
    --clr-border: hsl(185, 53%, 34%);
}

button {
    padding: 0.75em 3em;
    position: relative;
    background-color: var(--clr-bg);
    color: white;
    cursor: pointer;
    border: 0.1em solid var(--clr-border);
    border-radius: 100vw;
    font-size: 3rem;
    overflow: hidden;
}

button>span {
    position: absolute;
    width: 20%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    isolation: isolate;
}

button>:first-child {
    left: 0;
    top: 0;
}

button>:last-child {
    right: 0;
    top: 0;
}
button::before{
    content: '';
    position: absolute;
    border-radius: 100%;
    width: 10%;
    aspect-ratio: 1;
    margin: auto;
    background-color: var(--clr-border);
    inset: 0;
    transition: all .4s;
}
button:first-child:active::before{
    margin-left: 0;
    transform: scale(15);
}
button:last-child:active::before{
    margin-right: 0;
    transform: scale(15);
}
